<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
		<div id="content">
			<button onclick="changeNum()">סולם חדש</button>
    	<p id="randomNumber"></p>
			<div id="notes"></div>
			<button onclick="check()" id="checkAnswer">בדיקה</button>
			<div id="hint_container">
				<label for="check" id="name1">רמז: מעגל הקווינטות</label>
				<input type="checkbox" id="check" name="check" onclick="showImage()">
				
			</div>
			<img src="static/images/Circle.png" id="circle">
		</div>
		
		
		
			

	

    <script src="static/js/script.js"></script>
  </body>
</html>